<h1>Showing <%= item.name %></h1>

<a href="/items/<%= item.id %>/edit">Edit item</a>

<form action="/items/<%= item.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete">
</form>